In [35]:
import pandas as pd
import numpy as np

In [2]:
df_short = pd.read_pickle('our_short_GRBs_with_time.dat')
df_short.columns = ['GRB name', 'T100']
df_short.set_index('GRB name', inplace = True, drop = True)
df_short['Cat'] = ['S' for _ in range(len(df_short.T100))]

In [3]:
df_long = pd.read_pickle('our_long_GRBs_with_time.dat')
df_long.columns = ['GRB name', 'T100']
df_long.set_index('GRB name', inplace = True, drop = True)
df_long['Cat'] = ['L' for _ in range(len(df_long.T100))]

In [15]:
All_grbs = pd.read_pickle('all_GRBs_with_time.dat')
All_grbs.columns= ['GRB name', 'T100']
All_grbs.set_index('GRB name', inplace = True, drop = True)
All_grbs['Cat'] = ['Discarded' for _ in range(len(All_grbs.T100))]

In [16]:
All_grbs.loc[df_short.index, 'Cat'] = 'S'
All_grbs.loc[df_long.index, 'Cat'] = 'L'
All_grbs.T100 = All_grbs.T100.round(2)
All_grbs.to_csv("Category_of_GRBs.csv")

In [19]:
All_grbs.Cat.describe()

count     1318
unique       3
top          L
freq      1145
Name: Cat, dtype: object

In [20]:
All_grbs

              T100        Cat
GRB name
GRB190727B   60.44          L
GRB190719C  202.40          L
GRB190718A  720.00          L
GRB190706B   51.58          L
GRB190701A   54.98          L
...            ...        ...
GRB041220     7.02          L
GRB041219C   12.00          L
GRB041219B     NaN  Discarded
GRB041219A     NaN  Discarded
GRB041217     7.06          L

[1318 rows x 2 columns]

In [26]:
# data = pd.read_pickle('preFFT_dataset.dat')
durationdata = pd.read_pickle("all_GRBs_with_T90_time.dat")
durationdata.set_index("GRBname", inplace = True, drop = True)
durationdata

                T90
GRBname
GRB190727B   39.196
GRB190719C  185.828
GRB190718A  704.000
GRB190706B   43.584
GRB190701A   52.432
...             ...
GRB041220     5.584
GRB041219C   10.000
GRB041219B   39.104
GRB041219A      NaN
GRB041217     5.668

[1318 rows x 1 columns]

In [30]:
All_grbs.T100 = durationdata.loc[All_grbs.index]

In [31]:
All_grbs

               T100        Cat
GRB name
GRB190727B   39.196          L
GRB190719C  185.828          L
GRB190718A  704.000          L
GRB190706B   43.584          L
GRB190701A   52.432          L
...             ...        ...
GRB041220     5.584          L
GRB041219C   10.000          L
GRB041219B   39.104  Discarded
GRB041219A      NaN  Discarded
GRB041217     5.668          L

[1318 rows x 2 columns]

In [38]:
# All_grbs.columns = ["T90", "Type"]
# All_grbs.T90 = All_grbs.T90.apply(lambda x: np.round(x, 2))
All_grbs.to_csv("Table_of_categorization.csv")

In [10]:
All = pd.concat([df_short, df_long])
All = All.sort_values('GRB name')
# All = All.set_index('GRB name', drop = True)
# All = All.drop(['_'], axis = 1)
All.T100 = All.T100.round(2)

In [ ]:
All.to_csv("Table_of_categorization.csv")

In [14]:
time_rough = pd.read_csv("T100_Details.csv")
T100 = time_rough.Stop - time_rough.Start
T100 = pd.concat([time_rough.GRBname, T100],axis = 1)
T100.columns = ['GRBname', 'T100']
T100.T100 = T100.T100.round(1)
T100 = T100.set_index('GRBname', drop = True)

FileNotFoundError: [Errno 2] File b'T100_Details.csv' does not exist: b'T100_Details.csv'

In [ ]:
ALL_T100 = T100.loc[All.index, :]

In [ ]:
All.T100 = ALL_T100

In [ ]:
All.to_csv("Table_of_categorization.csv")